@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --text: #0b161e;
      --background: #f3f7fc;
      --primary: #154b79;
      --secondary: #66aff0;
      --accent: #056fcc;
    }
    .dark {
      --text: #e1ecf4;
      --background: #09090B;
      --primary: #86bbea;
      --secondary: #0f5999;
      --accent: #339dfa;
    }
  }
  

*, body{
 font-family: sans-serif;
}

input{
  text-decoration: none;
  background-color: transparent;
  min-height: 50px;
}
